<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>  <h5 class="card-title mb-0">Manage Sellers</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        </div>
        <div class="form-group row">
          <div class="col-md-4 mt-2 mb-2">
           
            <input type="text" id="searchQuery" [(ngModel)]="searchQuery" class="form-control form-control-sm" placeholder="Search by seller name" />
          </div>
          <div class="col-md-2 mt-2 btn-sm">
            <button class="btn btn-outline-primary btn-sm" (click)="onSearch()">Search</button>
          </div>
        </div>
      </c-card-header>

      <c-modal size="lg" id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
        <c-modal-header>
          <h5 cModalTitle>Edit Seller Details</h5>
          <button (click)="toggleLiveDemo()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <form cForm [formGroup]="userForm">
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="name" cFormControl id="First" type="text" value="Enter Name" />
                  <label cLabel for="First">Name</label>

                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="contactNumber" cFormControl id="number" type="number"
                    value="Enter Contact Number" />
                  <label cLabel for="number">Contact Number</label>
                </div>
              </c-col>
            </c-row>
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="email" cFormControl id="email" type="email" value="Enter Email Address" />
                  <label cLabel for="email">Email Address</label>
                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating class="position-relative">
                  <input 
                  
                    cFormControl 
                    formControlName="password" 
                    id="Password" 
                    [type]="passwordFieldType" 
                    class="form-control" 
                    placeholder="Password" 
                  />
                  <label cLabel for="Password">Password</label>
            
                  <!-- Toggle Password Visibility Button -->
                  <button 
                  type="button" 
                  class="btn btn-outline-secondary position-absolute end-0 top-50 translate-middle-y me-2" 
                  (click)="togglePasswordVisibility()"
                  style="z-index: 2;">
                  {{ passwordFieldType === 'password' ? '🙈' : '👁️' }}
                </button>
                
                </div>
              </c-col>
            </c-row>
          </form>
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemo()" cButton color="secondary">
            Close
          </button>
          <button (click)="updateUser(editData.data._id)" cButton color="primary" (click)="toggleLiveDemo()">Save changes</button>
        </c-modal-footer>
      </c-modal>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th>
                <svg cIcon name="cilPeople"></svg>
                User
              </th>
              <th>Role</th>
              <th>Verified</th>
              <th>Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let user of userArray; index as i " >

              <td>
                <div>{{ user.name }}</div>
              </td>
              <td >
                <div *ngIf="user.isSeller">
                   Seller
                </div>
                <div *ngIf="user.isBuyer" >
                  Buyer
                </div>
                <div *ngIf="user.isAdmin" >
                  Admin
                </div>
              </td>
              <td>
                <button *ngIf="!user.verifiedByAdmin" (click)="verifyUserByAdmin(user._id)" style="color: red;">Verify</button>
                <span *ngIf="user.verifiedByAdmin">Verified</span>
                
              </td>
              <td>
                <button (click)="toggleLiveDemo()" (click)="clickAddMember()" style="margin-right: 10px;"
                  (click)="getUserById(user._id)">
                  <svg cIcon name="cil-pencil" size="sm"></svg>
                </button>
                <button (click)="deleteMember(user._id)">
                  <svg cIcon name="cil-trash" size="sm"></svg>
                </button>
              </td>
              <td>
                <button (click)="toggleLiveDemo2()" (click)="getUserById(user._id)">View</button>
              </td>
            </tr>
            <tr *ngIf="userArray.length === 0">
              <td colspan="3" class="text-center">No Sellers found</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
      <!-- view modal -->
      <c-modal [visible]="visible2" (visibleChange)="handleLiveDemoChange2($event)">
        <c-modal-header>
          <h5 cModalTitle>Seller Data</h5>
          <button (click)="toggleLiveDemo2()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <ul cListGroup *ngIf="dataArray">
            <li>
              <strong>Name:</strong> {{dataArray.name}}
            </li>
            <li>
              <strong>Email:</strong> {{dataArray.email}}
            </li>
            <li *ngIf="dataArray.addresses && dataArray.addresses.length > 0">
              <strong>Address:</strong> {{dataArray.addresses[0].fullName}}, {{dataArray.addresses[0].street}}, {{dataArray.addresses[0].city}}, {{dataArray.addresses[0].state}} - {{dataArray.addresses[0].zip}}
            </li>
            <li>
              <strong>Contact Number:</strong> {{dataArray.contactNumber}}
            </li>
          </ul>
          
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemo2()" cButton color="secondary">
            Close
          </button>
       
        </c-modal-footer>
      </c-modal>
      <!-- view model end -->
      <nav aria-label="Page navigation" class="d-flex justify-content-end  mt-4 p-4">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:void(0);" (click)="onPageChange(currentPage - 1)">Previous</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="javascript:void(0);">Page {{ currentPage }} of {{ totalPages }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:void(0);" (click)="onPageChange(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </c-card>

  </c-col>
</c-row>