<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Manage Buyers Premium
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <!-- <button (click)="toggleLiveDemo()" cButton size="sm" color="primary" (click)="clickAddMember()" class="me-md-2">Add User</button> -->
          </div>
        </c-card-header>
  
        <c-card-body>
          <form [gutter]="3" cForm cRow [formGroup]="settingsForm">
            <c-col xs="auto">
              <label sizing="sm" cLabel class="visually-hidden" for="staticEmail">
                Set Buyers Premium
              </label>
              <input sizing="sm" [plaintext]="true" cFormControl id="staticEmail" readonly type="text" value="Buyers Premium Value" />
            </c-col>
            <c-col xs="auto">
              <label sizing="sm" cLabel class="visually-hidden" for="buyerPremium"></label>
              <div class="input-group input-group-sm">
                <input name="buyerPremium" sizing="sm" min="0" type="number" cFormControl id="buyerPremium" formControlName="buyerPremium" class="form-control" />
                <span class="input-group-text">%</span>
              </div>
            </c-col>
            <c-col xs="auto">
              <button cButton (click)="updateSettings()" type="submit" size="sm">
                Save
              </button>
            </c-col>
          </form>
          
        </c-card-body>
      </c-card>
  
    </c-col>
  </c-row>