<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header><h5 class="card-title mb-0">Manage Transactions</h5>

          <div class="float-end">
          
          </div>
        </c-card-header>

        <c-card-body>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <th>#</th>
                <th>Transaction ID</th>
                <th>Email</th>
                <th>Status</th>
                <th>Transaction Date</th>
                <th>Amount</th>
                <th>Order ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions; let i = index">
                <td>{{ (currentPage - 1) * transactionsPerPage + i + 1 }}</td>
                <td>{{ transaction.transactionId }}</td>
                <td>{{ transaction.email }}</td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.transactionDate | date: 'medium' }}</td>
                <td>{{ transaction.amount | currency }}</td>
                <td>{{ transaction.orderId }}</td>
              </tr>
              
            </tbody>
          </table>
          
        </c-card-body>
        <nav aria-label="Page navigation" class="d-flex justify-content-end mt-4 p-4" style="margin-top: 20px;">
          <ul class="pagination pagination-sm mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
        
   
      </c-card>
   
      
    </c-col>
  </c-row>